<!doctype html>
<!--ng-app permet de dire que c'est un projet angular. Dans certain cas, elle peux être dans une sous balise, mais ce n'est pas conseillé-->
<html ng-app="app">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body>
<div ng-controller="TodoCtrl">
    <label>Name:</label>
    <input type="text" ng-model="yourName" placeholder="Enter a name here">
    <hr>
    <h1>Hello {{yourName}}!</h1>

    <!--Permet de voir si la var existe bien-->
    {{ maListe|json }}

    <p ng-repeat="(key, value) in maListe">{{value.name}}</p>
</div>
</body>
</html>