<!DOCTYPE html>
<html lang="fr" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-cloak>
    <div ng-controller="TodoCtrl" layout="column" layout-align="center center">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h1>Todo List</h1>
            </div>
        </md-toolbar>

        <md-content layout="column" layout-margin style="width: 70%;">
            <div layout="row">
                <md-card flex="50">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Filtres</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content latout="row">

                        <md-input-container flex="50">
                            <label>Nom</label>
                            <input  ng-model="searchValue.name" ng-change="search()">
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Lieux</label>
                            <input  ng-model="searchValue.place" ng-change="search()">
                        </md-input-container>

                        <md-input-container flex="50">
                            <label>Statut</label>
                            <md-select ng-model="searchValue.state" ng-change="search()">
                                <md-option value="false">En attente</md-option>
                                <md-option value="true">Terminé</md-option>
                            </md-select>
                        </md-input-container>

                    </md-card-content>
                </md-card>

                <md-card flex="50">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Ajouter un event</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-input-container>
                            <label>Nom de l'event</label>
                            <input ng-model="currentEdit.name">
                        </md-input-container>

                        <md-input-container>
                            <label>Lieu de l'event</label>
                            <input ng-model="currentEdit.place">
                        </md-input-container>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button ng-click="addEventOnTodoList()" ng-if="!isInEditMode()">Ajouter</md-button>
                        <md-button ng-click="sendEditEventOnTodoList()" ng-if="isInEditMode()">Modifier</md-button>
                    </md-card-actions>
                </md-card>
            </div>

            <div layout="row">
                <md-card flex>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Liste des events</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <md-list>
                            <md-subheader>Liste des events</md-subheader>
                            <ma-todo-list-row ng-repeat="(key, value) in maListeInCurrentPage" ma-todo-list-change-state="changeStateEventOnTodoList" ma-todo-list-suppr="supprEventOnTodoList" ma-todo-list-edit="editEventOnTodoList" ma-todo-list-key="key" ma-todo-list-value="value"></ma-todo-list-row>
                        </md-list>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button class="md-warn md-raised" ng-click="previousPage()">Précédent</md-button>
                        <md-button class="md-fab md-mini md-primary" ng-class="{'md-warn':currentPage === n}" ng-click="goPage(n)" ng-repeat="n in range(1,maListePageLength)">{{n}}</md-button>
                        <md-button class="md-warn md-raised" ng-click="nextPage()">Suivant</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </md-content>
    </div>

    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.js"></script>

    <!-- Angular Material Library -->
    <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <script src="js/app.js"></script>
</body>
</html>