<md-list-item>
    <p>{{value.id}}</p>
    <p>{{value.name}}</p>
    <p>{{value.place}}</p>
    <md-checkbox ng-model="value.state" ng-change="btnState(value)" class="md-primary"></md-checkbox>
    <md-button class="md-raised md-warn" ng-click="btnSuppr(value)">Suppr</md-button>
    <md-button class="md-raised md-primary" ng-click="btnEdit(value)">Edit</md-button>
</md-list-item>